.diag_div_a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    display: flex;
}
#chatbox {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f5f5f5; 
}
#symptomList {
    width: 250px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    margin-left: 10px;
    background-color: #f5f5f5;
}
.symptom {
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
    cursor: grab;
}
.hidden {
    display: none;
}
.chat-message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}
.chatbot-bubble{
    background-color: #333;
    color: white;
    align-self: flex-start;
}
.user-bubble {
    background-color: #ccc;
    color: white;
    align-self: flex-end;
    margin-left: auto;
}