@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #243B55;
}

.div_a {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    background: transparent;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    width: 90vw;
    height: 30rem;
    background-color: #fff;
    box-shadow: 25px 30px 55px #555;
    border-radius: 13px;
    overflow: hidden;
}
#container
{
    width:50vw;
}
.form-container{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 2.7rem;
    transition: all.0.6s ease-in-out;
}
.sign-up-container{
    opacity: 0;
    z-index: 1; 
}
.sign-in-container{
    z-index: 2;

}
.form_a {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 3rem;
}
.head_1{
    color: var(--grad-clr1);
}
.social-container{
    margin: 1.6rem 0px;
}
.social-container a{
    border: 1 px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0.4rem; 
    height: 2.4rem;
    width: 2.4rem;
}
.span_a{
    font-size:  0.8rem;
}
.infield{
    position: relative;
    margin: 0.5rem 0px;
    width: 100%;

}
.input_a{
    width: 100%;
    padding: 12px 15px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}
.label_a{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--linear-grad);
    transform: 0.3s;

}
.input_a:focus~.label_a{
    width: 100%;
}
.a_a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}
a.forgot{
    padding-bottom: 3px;
    border-bottom: 2px solid #eee;
}
.button_a{
    border-radius: 10px;
    border: 1px solid var(--grad-clr1);
    background-color: var(--grad-clr2);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
}
.form-container button:hover{
    background: #fff;
    color: var(--grad-clr1);
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}
#overlayBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    width: 2rem;
    height: 50px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 1rem;
}
.overlay {
    position: relative;
    background: var(--linear-grad);
    color: #fff ;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out ;

}
.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 4rem;
    text-align: center;
    height: 100%;
    width: 20rem;
    transition: 0.6s ease-in-out ;
}
.overlay-left{
    right: 60%;
    transform: translateX(-12%);

}
.overlay-right{
    right: 0;
    transform: translateX(0%);
}
.overlay-panel h1{
    color: #fff;
}
.p_a{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;

}
.overlay-panel button{
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container{
    transform: translateX(-150%);
}
.right-panel-active .overlay{
    transform: translateX(50%);
}
.right-panel-active .overlay-left{
    transform: translateX(25%);
}
.right-panel-active .overlay-right{
    transform: translateX(35%);
}

.right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}
.right-panel-active .sign-up-container{
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
@keyframes show{
    0%, 50%{
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100%{
        opacity: 0;
        z-index: 5;
    }
}
.btnScaled{
    animation: scaleBtn 0.4s;
}
@keyframes scaleBtn{
    0%{
        width: 10.5rem;
    }
    50%{
        width: 10rem;
    }
    100%{
        width: 10.5rem;
    }
}